.idea
node_modules
dist
logs
build-debug
rest
server/tests/sql/
server/api
storage
volumes
plugins
.env
*.workers
version.ts
db.changelog-0.0.1.yaml
server/coverage
server/.yarn/*
server/!.yarn/patches
server/!.yarn/plugins
server/!.yarn/releases
server/!.yarn/sdks
server/!.yarn/versions
server/.pnp.*
