.idea
node_modules
dist
logs
build-debug
rest
server/tests/sql/
server/api
server/config/ssl
storage
volumes
server/plugins
artifacts
.env
*.workers
version.ts
db.changelog-0.0.1.yaml
server/coverage
**/.yarn/*
**/!.yarn/patches
**/!.yarn/plugins
**/!.yarn/releases
**/!.yarn/sdks
**/!.yarn/versions
**/.pnp.*
