{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULE>",
    "^@src/(.*)$",
    "^@server/(.*)$",
    "^@client/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "endOfLine": "lf",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-sql"],
  "importOrderParserPlugins": ["typescript"],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "language": "postgresql"
      }
    }
  ]
}
